DOCUMENT_INTELLIGENCE_ENDPOINT={URL of your Azure Cognitive Services endpoint}
DOCUMENT_INTELLIGENCE_KEY={Your Azure Cognitive Services key}
COMPANY_FILE_PATH={Path to your company file}
MODEL_CONFIDENCE_THRESHHOLD=0.8